body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    padding: 1rem;
    color: #fff;
}

.nav-other {
    display: flex;
    align-items: center;
}

.nav-other img {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.user-level {
    margin-right: 1rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-links > li {
    margin-right: 1rem;
}

.nav-links > a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-links > a:hover {
    background-color: #fff;
    color: #3498db;
}

.horizontal-grid {
    margin: 1rem;
}

/* Styling for the content boxes within .content */
.content-box {
    display: flex;
    background-color: #3498db; /* Blue background color */
    color: #fff; /* White text color */
    padding: 1rem;
    border-radius: 8px; /* Rounded corners for the boxes */
    margin-bottom: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle 3D effect */
    transition: transform 0.2s; /* Add a smooth transition for scaling */
    max-width: 100%; /* Ensure that the element does not exceed its container's width */
    overflow: hidden; /* Hide content that overflows */
}

.content-box:hover {
    transform: scale(1.02); /* Slightly larger size when hovered */
}

.content-box-left {
    flex: 1; /* Take up available space */
    padding: 0 1rem; /* Add spacing between the image and text */
}

.content-box-right {
    flex: 3; /* Take up more space for text */
}

.content-box h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.content-box p {
    font-size: 1rem;
    margin: 0;
}

.content-box img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
}

.content h1 {
    margin: 0; /* Reset margin for h1 within content sections */
}